---
import Layout from "../layouts/Layout.astro";
import AlbumItemCard from "@/layouts/AlbumItemCard.astro";
import { playlists } from "@/lib/data"
---

<Layout title="Home">
  <div id="playlist-contaienr" class="relative transtition-all duration-1000">
    <div class="relative z-10 px-6 pt-10">
      <div class="flex flex-wrap mt-6 gap-4">
        {playlists.map((playlist) => (
          <AlbumItemCard playlist={playlist} />
        ))}
      </div>
    </div>
  </div>
</Layout>
